.section-user {
    display: inline-block;
    margin: 75px auto;
    width: 89.6%;
    height: 900px;
    vertical-align: top;
    h1 {
        text-align: center;
        margin-top: 50px;
        font-size: 2em;
        text-transform: uppercase;
    }
    h3 {
        margin: 0 auto;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 50px;
        font-family: "open_sanslight";
        width: 65%;
        text-transform: lowercase;
    }
    img {
        display: block;
        width: 200px;
        height: 200px;
        margin: 0 auto;
    }
    ul {
        height: 600px;
        width: 80%;
        margin: 50px auto;
        margin-bottom: 75px;
        overflow-y: scroll;
        li {
            display: inline-block;
            color: $color-orange-light;
            width: 30%;
            margin: 1.5%;
            padding: 25px;
            padding-top: 10px;
            list-style: none;
            background-image: url(../img/t%C3%A9l%C3%A9chargement3);
            vertical-align: top;
            /*text-align: center;*/
            &:hover {
                box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
                background-image: url(../img/t%C3%A9l%C3%A9chargement2);
            }
            h4 {
                text-transform: uppercase;
                padding-right: 5px;
                margin: 5px 0px 10px;
                padding: 5px;
                width: 100%;
                font-size: 1em;
                color: $color-orange-light;
                background-color: $color-white;
            }
            small {
                color: $color-orange-light;
                padding: 5px;
                font-weight: bolder;
                font-size: 0.8em;
                background-color: $color-white;
                text-transform: lowercase;
                width: 75%;
                margin-right: 5px;
                margin-bottom: 10px;
            }
            div {
                margin-top: 15px;
                margin-bottom: 5px;
            }
            i {
                color: $color-general;
                margin-bottom: 10px;
                cursor: pointer;
                &:hover {
                    color: $color-general;
                }
            }
            h4,
            small,
            p,
            {
                i {
                    color: $color-general !important;
                    margin-right: 10px;
                    margin-left: 5px;
                    margin-bottom: 0px;
                    padding-bottom: 0px;
                    cursor: default !important;
                    margin-bottom: 10px;
                }
            }
            p {
                text-transform: lowercase;
                padding-right: 10px;
                padding-top: 10px;
                padding-left: 10px;
                width: 100%;
                font-size: .8em;
                color: $color-orange-light;
                background-color: $color-white;
                margin-top: 7px;
                font-weight: bolder;
            }
        }
    }
}

.dropdown {
    text-transform: uppercase;
    display: block;
    width: 295px;
    margin: 10px auto 20px auto;
    border: 1px solid $color-red;
    padding: 10px 10px 10px 15px;
    text-transform: lowercase;
    background-color: $color-white;
    dd {
        div {
            ul {
                width: 100% !important;
                overflow-y: scroll;
                overflow-x: hidden;
                li {
                    width: 100%;
                    background-color: transparent;
                    display: block;
                    background-color: red;
                    border: 1px solid white;
                    color: white;
                    &:hover {
                        transform: rotate(0deg);
                    }
                    p {
                        /*
                        display: inline-block;
*/
                        color: blue;
                    }
                    input {
                        display: inline-block;
                    }
                }
            }
        }
    }
}