
{% include 'header.html' %}
<style>
nav .fa-usd{
  color:#444;
}
</style>
<section class="section-depenses">
    <img src="{{ asset('piggy-bank.svg', 'images') }}" alt="">
    <div class="separator"></div>
    <h1>Dépenses</h1>

          	<div style='text-align:center; width:100%; margin:10px 0 0 0 '>
          		{% if userIsLogged and not delete %}
          		  <button id="btnAddDepense">Ajouter une créance </button>
              {% endif %}
          	</div>
            <!-- The Modal -->
            {% if edit %}
                <div id="myEditModal" class="modal display">
            {% elseif add %}
                <div id="myModal" class="modal">
            {% endif %}

            {% if not delete %}
            <div class="formulaire">
                <div>
                        {{ form_errors(form) }}
                </div>
              	<div class="modal-content">
                  	<h4>
                          {% if edit %}
                              Editer
                          {% else %}
                             Ajouter
                          {% endif %}
                           une créance
                      </h4>
                    <a href="{{path('depenses') }}" > <span class='close'>×</span></a>
                    <div class="separator"></div>
                		<form action="#" method="post" style="display: flex;flex-direction:column;">
                      {{ form_start(form) }}
                          {# render the task's only field: description #}
                          {{ form_row(form.id) }}
                          {{ form_row(form.user_id) }}
                          {{ form_row(form.name) }}
                          {{ form_row(form.date) }}
                          {{ form_row(form.montant) }}
                          {{ form_row(form.isVegetarian) }}
                          {{ form_row(form.nbNights) }}
                          <div class='button' onclick='javascript:toggleTous(this)' checked='true'>Aucun </div >
                          {{ form_row(form.users) }}
                      {{ form_end(form) }}
              		</form>
              </div>
            </div>
            </div>
            {% endif %}


            <!-- Delete Modal -->
             <div id="deleteModal" {% if not delete %} class="modal"{% endif %}>

		    	      <div class="formulaire">
                	<div class="modal-content">

                    	<h4>Êtes-vous sûr.e de vouloir supprimer cette créance ?</h4>
	                      <a href="{{path('depenses') }}" > <span class='close'>×</span></a>
                        <div class="separator"></div>
                        <div class='recordName'></div>
                        <form action="#" method="post" style="display: flex;flex-wrap: wrap;justify-content: space-around;vertical-align: middle;">
                            {{ form_widget(form_delete) }}
                        </form>

                   </div>
                </div>

            </div>

            <div class="separator"></div>

            <ul>
            {% for depense in depenses %}

            <li id="{{depense.id}}">

                <h4>
                    <i class="fa fa-circle" aria-hidden="true" style="color:{{ users[depense.userId].color }} !important" ></i>

                    {% if depense.isVegetarian %}
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                    {% else %}
                        <i class="fa fa-bolt dette" aria-hidden="true"></i>
                    {% endif %}


                    {{ users[depense.userId].name }}
                </h4>
                {# #}
                <small class='priceTag'>
                	{{depense.montant}} <i class="fa fa-eur" aria-hidden="true"></i>
		             </small>
                 <small>
                    <i class="dette" aria-hidden="true"></i>
                    {{ depense.date | slice(6,2) }}/
                    {{ depense.date | slice(4,2) }} /
                    {{ depense.date | slice(0,4) }}

                </small>
                <p>


                	{% for usr in depense.users %}
                		{{users[usr].name}} &nbsp;
                	{% endfor %}
            	</p>

                <p>{{depense.name}}</p>
                <p>Nb spread :
                  {% if depense.nbNights == 0 %}
                    Auto
                  {% else %}
                      {{ depense.nbNights}}
                      {% endif %}
                </p>
	               	<div class="depenseMenu">
		               <div class="flexlist">
                        <a href="{{path('editDepense', { "id":depense.id}) }}" >
  		               		   <div ><i class="fa fa-pencil-square-o"></i></div>
                        </a>
                      <a href="{{path('deleteDepense', { "id":depense.id}) }}" >
		               		   <div><i class="fa fa-trash-o"></i></div>
                      </a>
		               </div>
	               </div>
            </li>
            {% endfor %}
            </ul>

</section>

{% include 'footer.html' %}
