</div>
	<script type="text/javascript" src="{{ asset('bootstrap-datepicker.js', 'js') }} "></script>
    <script type="text/javascript" src="{{ asset('script.js', 'js') }} "></script>

</body>
</html>