<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Compta Docusland</title>
    <link rel="icon" href="img/money.svg">
    <!-- link rel="stylesheet" href="css/app.css" -->
    <link href="{{ asset('app.css', 'css') }}" rel="stylesheet" />
    <link rel="stylesheet" href="{{ asset('font-awesome.css', 'fonts') }}">
    <script type="text/javascript" src="{{ asset('jquery-3.2.1.min.js', 'js') }} "></script>
</head>

<body>
	<div>
        <nav>
            <section>

                {% if app.session.get('session_key') is not null %}
                <a href="{{ path('home') }}">
                    <div class="tooltip">
                        <i class="fa fa-home fa-2x" aria-hidden="true"></i>
                        <span class="tooltiptext">Accueil</span>
                    </div>
                </a>
                <a href="{{ path('users') }}">
                    <div class="tooltip">
                        <i class="fa fa-user fa-2x" aria-hidden="true"></i>
                        <span class="tooltiptext">Gérer les utilisateurs</span>
                    </div>
                </a>
                <a href="{{ path('depenses') }}">
                    <div class="tooltip">
                        <i class="fa fa-usd fa-2x" aria-hidden="true"></i>
                        <span class="tooltiptext">Ajouter un gage</span>
                    </div>
                </a>
                <a href="{{ path('statistiques') }}">
                   <div class="tooltip">
                    <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                    <span class="tooltiptext">Repartition dans le temps</span>
                </div>
                </a>



            <a href="{{ path('logout') }}">
                <div class="tooltip">
                    <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    <span class="tooltiptext">Déconnexion</span>
                </div>
            </a>
            {% else %}
            <a href="{{ path('statistiques') }}">
               <div class="tooltip">
                <i class="fa fa-pie-chart fa-2x" aria-hidden="true"></i>
                <span class="tooltiptext">Repartition dans le temps</span>
            </div>
            </a>
            <a href="{{ path('login') }}">
                <div class="tooltip">
                    <i class="fa fa-sign-in fa-2x" aria-hidden="true"></i>
                    <span class="tooltiptext">Se Connecter</span>
                </div>
            </a>
            {% endif %}

            {% if app.session.get('session_key') is not null %}
            <div class="separator">

            </div>
            <a href="{{ path('paritarian') }}">
               <div class="tooltip">
                <i class="fa fa-bar-chart fa-2x" aria-hidden="true"></i>
                <span class="tooltiptext">Moyenne journalière</span>
            </div>
            </a>
            {% endif %}

        </section>
    </nav>
    {% for flashMessage in app.session.flashbag.get('success') %}
        <div class="alert alert-success">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('error') %}
        <div class="alert alert-danger">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('warn') %}
        <div class="alert alert-warning">
            {{ flashMessage }}
        </div>
    {% endfor %}
    {% for flashMessage in app.session.flashbag.get('info') %}
        <div class="alert alert-info">
            {{ flashMessage }}
        </div>
    {% endfor %}
