{% include 'header.html' %}
<style>
  nav .fa-home {
    color: #444;
  }
</style>
<section class="section-index">
  <img src="{{ asset('piggy-bank.svg', 'images') }}" alt="">
  <div class="separator"></div>
  <h1>Welcome to No Liability</h1>


  <h2>
    Dernières dépenses saisies
  </h2>
  <!-- <button id="btnAddDepense">+ </button> -->
  <div class="home-depenses">

    <ul>
      {% for depense in depenses |reverse|slice(0, 6)  %}
        <a href="{{ path('editDepense', { "id":depense.id}) }}"">
          <li>
            <div class="row">
              {% if depense.isVegetarian %}
              <i class="fa
fa-leaf fa-5x" aria-hidden="true"></i>
{% else %}
    <i class="fa fa-heart  fa-5x" aria-hidden="true"></i>
            {% endif %}
              <div class="date">
                {{depense.dateFrenchFormat}}
              </div>
              <div class="montant">
                {{depense.montant}} €
              </div>
              <div class="name">
                {{ depense.name }}
              </div>

              <div class="nbNights">
                {% if depense.nbNights == 0 %}
                  Auto
                {% else %}

                  {{depense.nbNights}} nuit(s)
                {% endif %}
              </div>
              <div class="name">
                Payé par : {{ users[depense.userid].name }}
              </div>
            </div>
          </li>
        </a>
      {% endfor %}

    </ul>
  </div>

  <h2>
    Utilisateurs
  </h2>
  <!-- <button id="btnAddUser">+ </button> -->
  <div class="home-users">

    <ul>
      {% for user in users   %}
        <a href="{{ path('editUser', { "id":user.id}) }}"">
          <li style=''>
            <div class="row" >
              <div class="name" style='color:{{user.color}}; font-size:2em'>
                {{ user.name }}
              </div>
            
            </div>
          </li>
        </a>
      {% endfor %}

    </ul>
  </div>


</section>

{% include 'footer.html' %}
