
{% include 'header.html' %}

<section class="section-index">
    <img src="{{ asset('piggy-bank.svg', 'images') }}" alt="">
    <div class="separator"></div>
    <h1>Log into No Liability</h1>
    <h3>Please type in admin password.</h3>
    
    <section>
    	<div class="formulaire">
    		<form action="#" method="post">
			    {{ form_widget(form) }}
			</form>
        </div>

    </section>
</section>

{% include 'footer.html' %}