{% include 'header.html' %}
<style>
nav .fa-bar-chart{
  color:#444;
}
</style>
<section class="section-calendar">
    <img src="{{ asset('piggy-bank.svg', 'images') }}" alt="">
    <div class="separator"></div>
    <h1>Compta Dashboard</h1>

    <div class="statistics-resume">
      <h2>Paritarian Statistics</h2>
      <div class="separator"></div>
      <ol>
        <li>Spreads a daily cost for each present on the given day.</li>
     	  <li>Vegetarians pay a calculated cost.</li>
      </ol>
        <div class="separator"></div>
      <div class="statistics-details">
        <div>
          Du {{stats.startDate}} au {{stats.endDate}}
        </div>
        <div>
          <i class="fa fa-sum" aria-hidden="true"> </i>: {{stats.totalPaid}}<i class="fa fa-eur" aria-hidden="true"> </i>
          {# <span>NB  Meals : {{stats.nbMeals}}</span>  #}
        </div><div>
          ~ {{stats.avg}} / pers / day<i class="fa fa-eur" aria-hidden="true"> </i>
        </div>
      </div>
    </div>

        <ul>
         {% for key, final in stats.finalStatistics %}
         {% set sum_duree=0 %}
         {% for duree in stats.users[key].dureeSejour %}
         {% set sum_duree=sum_duree + duree %}
         {% endfor %}
         {% if sum_duree > 0 %}
            <li>
                <i style='color:{{stats.users[key].color}} !important' class="fa fa-2x fa-circle" aria-hidden="true"></i><h4 style="color:{{stats.users[key].color}}">{{stats.users[key].name}}</h4>

                        {% set due = final[1]-final[0] %}
                            {% if due > 0 %}
                                <p style='color:green'>
                            {% else %}
                                <p style='color:red'>
                            {% endif %}
                                    {{due | round(2, 'floor')}} <i class="fa fa-eur" aria-hidden="true"> </i>
                                </p>


                    PAYÉ : {{final[1] | round(2, 'floor')}} <i class="fa fa-eur" aria-hidden="true"> </i> <br />
                    DÛ : {{final[0] | round(2, 'floor')}} <i class="fa fa-eur" aria-hidden="true"> </i><br /> <br />


                    Durée : {{ sum_duree }} j.

                    <br/><br/>
                    {% set avg = final[0] / sum_duree %}
                    ~ {{ avg| round(2, 'floor')}}
                    <i class="fa fa-eur" aria-hidden="true"> </i>/jour
            </li>
          {% endif %}
         {% endfor %}
         </ul>
         <div class="separator"></div>

        <ul>
        {% for calendar_day in stats.calendar %}
            <li>
                {{calendar_day.dateFrenchFormat}}
                <div class="separator" ></div>
                <div>


                        {% if calendar_day.depenses is defined %}
                            {% for depense in calendar_day.depenses %}
                                <p>
                                    <i class="fa fa-circle" style='color: {{stats.users[depense.userId].color}} !important'  aria-hidden="true"></i>
                                    {# {% if depense.isVegetarian %}  #}
                                            <i class="fa
fa-shopping-cart" aria-hidden="true"></i>
                                    {# {% endif %}  #}
                                    {{ depense.montant}}
                                </p>

                                {% endfor %}

                                {% if calendar_day.depenses is not empty %}
                                    <div class="separator" ></div>
                                    {% endif %}
                        {% endif %}
                    {% if calendar_day.debts is defined %}

                            <div>

                                {% set user = '' %}
                                {% set old_block = 0 %}
                                {% for debt in calendar_day.debts %}
                                    {% set new_block = debt.depenseId %}
                                    {% set new = (new_block != old_block and old_block != 0)  %}
                                    {% if new %}</span></p></div>{% endif %}
                                    {% if new or old_block == 0 %}
                                        {% set old_block = new_block %}
                                    <div>
                                        <p>

                                        <span style='display:block'>
                                            <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                                         {# {{stats.users[stats.depenses[debt.depenseId].userId].name}} #}
                                         </span>
                                         {{ debt.cost|round(2, 'floor') }}
                                        <i class="fa fa-eur" aria-hidden="true"> </i>

                                        {# {% if stats.depenses[debt.depenseId].isVegetarian %}
                                            <i class="fa fa-leaf" aria-hidden="true"></i>
                                        {% endif %}  #}

                                         <span style='display:block;background-color:#c0c0c0;'>

                                    {% endif %}
                                    {% set user = stats.users[debt.userId] %}
                                    <i style='color:{{user.color}} !important' class="fa fa-circle" aria-hidden="true"></i>


                                {% endfor %}

                            </div>

                    {% endif %}
                </div>
            </li>
        {% endfor %}
        </ul>



</section>

{% include 'footer.html' %}
