{% include 'header.html' %}

<style>
nav .fa-pie-chart{
  color:#444;
}
</style>

<section class="section-calendar">
    <img src="{{ asset('piggy-bank.svg', 'images') }}" alt="">
    <div class="separator"></div>
    <h1>Compta Dashboard</h1>
    <div class="statistics-resume">
      <h2>Smart Statistics</h2>
      <h3> Since {{stats.startDate | slice(6,2)}} / {{stats.startDate | slice(4,2)}} / {{stats.startDate | slice(0,4)}}</h3>
      <!-- <div class="separator"></div> -->
      <!-- <dt>Parses the calendar and generates a smart repartition of debts.</dt><br /> -->
      <div class="separator"></div>


      <dt>Répartir les créances journalières sur plusieurs jours</dt>

      <div class="separator"></div>
   	  <dt>Une personne est concernée si:</dt>
       <dd>elle est à Missillac le dit jour</dd>
       <dd>elle est concernée par la créance</dd>
   	   <dd>ce n'est pas son jour de départ</dd>
       <dd>avec une petite gestion pour les végétariens </dd>
       <div class="separator"></div>
        <div class="statistics-details">

            <div>
           <i class="fa fa-sum" aria-hidden="true"> </i> Payé: {{stats.totalPaid}}<i class="fa fa-eur" aria-hidden="true"> </i>
           {# <span>NB  Meals : {{stats.nbMeals}}</span>  #}
            </div>
        </div>
      </div>
        <ul>
         {% for key, final in stats.finalStatistics %}
         {% set nbStays = stats.users[key].dureeSejour | length %}
            {% if  nbStays > 0 %}
            <li>
                <i style='color:{{stats.users[key].color}} !important' class="fa fa-2x fa-circle" aria-hidden="true"></i><h4 style="color:{{stats.users[key].color}}">{{stats.users[key].name}}</h4>

                        {% set due = final[1]-final[0] %}
                            {% if due > 0 %}
                                <p style='color:green'>
                            {% else %}
                                <p style='color:red'>
                            {% endif %}
                                    {{due | round(2, 'floor')}} <i class="fa fa-eur" aria-hidden="true"> </i>
                                </p>


                    PAYÉ : {{final[1] | round(2, 'floor')}} <i class="fa fa-eur" aria-hidden="true"> </i> <br />
                    DÛ : {{final[0] | round(2, 'floor')}} <i class="fa fa-eur" aria-hidden="true"> </i><br /> <br />
                    Durées :

                      {% for duree in stats.users[key].dureeSejour %}
                        {{ duree }} j &nbsp;
                        {% endfor %}
                    <br/><br/>
                    {% set sum = 0 %}
                      {% for duree in stats.users[key].dureeSejour %}
                         {% set sum = sum + duree %}
                      {% endfor %}

                    {% set avg = final[0] / sum %}
                    ~ {{ avg| round(2, 'floor')}}
                    <i class="fa fa-eur" aria-hidden="true"> </i>/jour
            </li>
            {% endif %}
         {% endfor %}
         </ul>
         <div class="separator"></div>

        <ul>
        {% set month='' %}
        {% for calendar_day in stats.calendar %}
          {% set nextMonth = calendar_day.day|slice(4,2) %}
          {% set year = calendar_day.day|slice(2,2) %}
          {% if month != nextMonth %}
            {% set month = nextMonth %}
            </ul>
            <ul>
              <h3> Mois {{ month }}/{{ year }}</h3>
          {% endif %}
          {% if calendar_day.debts | length > 0 %}
            <li>
                {{calendar_day.dateFrenchFormat}}
                <div class="separator" ></div>
                <div>


                        {% if calendar_day.depenses is defined %}
                            {% for depense in calendar_day.depenses %}
                                <p >
                                    <i class="fa fa-circle" style='color: {{stats.users[depense.userId].color}} !important'  aria-hidden="true"></i>
                                    {# {% if depense.isVegetarian %}  #}
                                            <i class="fa
fa-shopping-cart" aria-hidden="true"></i>
                                    {# {% endif %}  #}
                                    {{ depense.montant}}
                                </p>

                                {% endfor %}

                                {% if calendar_day.depenses is not empty %}
                                    <div class="separator" ></div>
                                    {% endif %}
                        {% endif %}
                    {% if calendar_day.debts is defined %}

                            <div>

                                {% set user = '' %}
                                {% set old_block = 0 %}
                                {% for debt in calendar_day.debts %}
                                    {% set new_block = debt.depenseId %}
                                    {% set new = (new_block != old_block and old_block != 0)  %}
                                    {% if new %}</span></p></div>{% endif %}
                                    {% if new or old_block == 0 %}
                                        {% set old_block = new_block %}
                                    <div>
                                        <p >

                                        <span style='color:{{stats.users[stats.depenses[debt.depenseId].userId].color}}; display:block'>
                                            <i class="fa fa-long-arrow-right" aria-hidden="true" ></i>
                                         {{stats.users[stats.depenses[debt.depenseId].userId].name}}
                                         </span>
                                         {{ debt.cost|round(2, 'floor') }}
                                        <i class="fa fa-eur" aria-hidden="true"> </i>

                                        {% if stats.depenses[debt.depenseId].isVegetarian %}
                                            <i class="fa fa-leaf" aria-hidden="true"></i>
                                        {% endif %}

                                         <span style='display:block;background-color:#c0c0c0;'>

                                    {% endif %}
                                    {% set user = stats.users[debt.userId] %}
                                    <i style='color:{{user.color}} !important' class="fa fa-circle" aria-hidden="true"></i>


                                {% endfor %}

                            </div>

                    {% endif %}
                </div>
            </li>
            {% endif %}
        {% endfor %}
        </ul>



</section>

{% include 'footer.html' %}
