{% include 'header.html' %}
<style>
nav .fa-user{
  color:#444;
}
</style>
<section class="section-user">
  <img src="{{ asset('piggy-bank.svg', 'images') }}" alt="">
  <div class="separator"></div>
  <h1>Users</h1>

  <!-- The Modal -->
  {% if mode != null %}
    <div id="myEditModal" class="modal display">
      <div class="formulaire">
        <div>
          {{ form_errors(form) }}
        </div>
        <div class="modal-content">
          <h4>
            {% if mode == "edit" %}
              Modifier
            {% else %}
              {% if mode == "delete" %}
                Supprimer
              {% else %}
                {% if mode == "add" %}
                  Ajouter
                  {%endif%}
                {% endif %}
              {% endif %}
              un utilisateur</h4>
            <a href="{{path('users') }}">
              <span class='close'>×</span></a>
            <div class="separator"></div>
            <form action="#" method="post" style="vertical-align: middle;">

              {{ form_start(form) }}
                  {# render the task's only field: description #}
                  {{ form_row(form.name) }}
                  {{ form_row(form.color) }}
                  {{ form_row(form.isVegetarian) }}
                  <ul class="periods">
                      {# iterate over each existing tag and render its only field: name #}
                      {% for period in form.periods %}
                          <li>{{ form_row(period.id) }}{{ form_row(period.user_id) }}  {{ form_row(period.startDate) }} {{ form_row(period.endDate) }}</li>
                      {% endfor %}
                  </ul>
              {{ form_end(form) }}

            </form>
          </div>
        </div>
      </div>
    {% endif %}

    <ul>
      {% for user in users %}
        <li id="{{user.id}}">
          <h4 style='color:{{user.color}} !important;   text-shadow: 2px 0 0 #bbb, -2px 0 0 #bbb, 0 2px 0 #bbb, 0 -2px 0 #bbb, 1px 1px #bbb, -1px -1px 0 #bbb, 1px -1px 0 #bbb, -1px 1px 0 #bbb;letter-spacing:2px'>
            <i class="fa fa-users" aria-hidden="true" style='color:{{user.color}} !important'></i>{{user.name}}</h4>
          <div style="position:relative; padding-top:2em;text-align:center;background-color:whitesmoke;">
            <p>
              {% if user.isVegetarian %}
              <p>  Vegetarien </p>
              {% endif %}
              <i class="fa fa-calendar" aria-hidden="true"></i>

                {%for period in user.periods %}
                <div style='text-align:center'>
                  {{period.startDate[6:2]}}
                  /
                  {{period.startDate[4:2]}}
                  /
                  {{period.startDate[0:4]}}
                  <i class="fa fa-long-arrow-right" aria-hidden="true"></i>
                  {{period.endDate[6:2]}}
                  /
                  {{period.endDate[4:2]}}
                  /
                  {{period.endDate[0:4]}}
                </div>

                {%endfor%}

              </p>
            </div>
            <div class="flexlist">
              <a href="{{path('editUser', {"id":user.id}) }}"" ">
                <div >
                  <i class="fa fa-pencil-square-o"></i>
                </div>
              </a>
              <a href="{{path('deleteUser', {"id":user.id}) }}"" ">
                <div>
                  <i class="fa fa-trash-o"></i>
                </div>
              </a>
            </div>
          </li>
        {% endfor %}
      </ul>
    </section>

    {% include 'footer.html' %}
